{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

<div class="container-fluid footer-container mt-3">
    <div class="footer-item ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <a href="https://www.gov.co" target="_blank">
                        <img class="img-gov-footer" src="{% static 'images/logo_header.png' %}">
                    </a>
                </div>
                <div class="col-12 mt-4">
                    <a href="https://www.gov.co" target="_blank">
                        <img  src="{% static 'images/logo_co_footer.png' %}">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-item">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-12 ">
                    {{ general_info|richtext }}
                </div>
            </div>
            <div class="row justify-content-center footer-socialnetworks">
                {% for social_network in social_networks %}
                    {% image social_network.value.image fill-40x40 as social_network_image %}
                        <div class="col-4 text-center mt-1">
                            <a href="{{ social_network.value.external_url }}" target="_blank">
                                <img src="{{ social_network_image.url }}">
                                <div class="text-center">{{ social_network.value.name }}</div>
                            </a>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="footer-item">
        <div class="container">
            {{ contact_info|richtext }}
        </div>
    </div>
</div>