
{% load static wagtailcore_tags menu_tags wagtailuserbar i18n wagtailcore_tags %}

<div class="row">
    <div class="col" style="margin: 15px 0px">
        <image src="{% static 'images/header.jpg' %}" style="width:100%">
    </div>
</div>
<nav class="navbar navbar-expand-xl ">
    <div class="container-fluid mme-menu ">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav">
            {% if page %}
                {% for translation in page.get_translations.live %}
                    {% get_language_info for translation.locale.language_code as lang %}
                    {% if lang.name_local == 'Español' %}
                        {% flat_menu 'english_menu' max_levels=3 template="blocks/menus/main_menu.html" sub_menu_templates="blocks/menus/main_menu_sub.html, blocks/menus/main_menu_sub_level_2.html" %}
                    {% elif lang.name_local == 'Ingles' %}
                        {% flat_menu 'spanish_menu' max_levels=3 template="blocks/menus/main_menu.html" sub_menu_templates="blocks/menus/main_menu_sub.html, blocks/menus/main_menu_sub_level_2.html" %}
                    {% else %}
                        {% main_menu max_levels=3 template="blocks/menus/main_menu.html" sub_menu_templates="blocks/menus/main_menu_sub.html, blocks/menus/main_menu_sub_level_2.html" %}
                    {% endif %}
                {% endfor %}
                {# if page does not have translations #}
                {% if page.get_translations|length == 0 %}
                    {% main_menu max_levels=3 template="blocks/menus/main_menu.html" sub_menu_templates="blocks/menus/main_menu_sub.html, blocks/menus/main_menu_sub_level_2.html" %}
                {% endif %}

            {% endif %}


        </div>
    </div>
</nav>
