{% extends "base.html" %}
{% load static wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
<link href="{% static 'css/aos.css' %}" rel="stylesheet" />
{% endblock extra_css %}


{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5 small-order-1 animate__animated animate__zoomIn">
            <div class="ps-md-5 pe-md-5 intro-section">
                <strong class="title-page-special">{{ page.intro_title }}</strong>
                {{ page.intro|safe }}
            </div>
        </div>
        {% if page.link_video != None and page.link_video|length > 0 %}
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7 small-order-2 animate__animated animate__zoomIn">
            <div class="video-responsive">
                <iframe src="{{ page.link_video }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        {% else %}
        {% image page.image original as intro_image %}
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7 small-order-2 animate__animated animate__zoomIn">
            <img class="img-fluid" src="{{ intro_image.url }}" alt="{{ page.alt_text }}">
        </div>
        {% endif %}
    </div>
</div>

<div class="container mt-4 mb-5">
    <div class="title-page">
        {{ page.second_links_title }}
    </div>
    {% for element in page.second_links %}
    <div class="row align-items-center link-section-container mt-5" data-aos="fade-up" data-aos-delay="100">
        <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1 col-xxl-1 ">
            <img src="{{ element.value.icono.url }}" class="rounded mx-auto d-block" style="width:150px">
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9 col-xl-10 col-xxl-10 link-section-border-bottom">
            <div class="fs-5 pt-3 link-section-border-text">
                <h4>{{ element.value.title }}</h4>
                {{ element.value.description }}
            </div>
            {% if element.value.url %}
            <a href="{{ element.value.url }}" type="button" class=" fs-4 link-section-border-button">Ver más</a>
            {% endif %}
            {% if element.value.document.url %}
            <a href="{{ element.value.document.url }}" type="button"
                class=" fs-4 link-section-border-button">Descargar</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>



{% endblock content %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
<script>
    AOS.init();
</script>
{% endblock extra_js %}