{% extends "base.html" %}
{% load static wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
<link href="{% static 'css/aos.css' %}" rel="stylesheet" />
<link href="{% static 'css/contratacion-accordion.css' %}" rel="stylesheet" />

{% endblock extra_css %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 animate__animated animate__zoomIn">
      <div class="intro-section num-list">
        <strong class="title-page-special">{{ page.title }}</strong>
        {{ page.intro|richtext }}
      </div>
    </div>
  </div>

</div>

{% if page.retie_list %}
<div class="container mt-4" data-aos="fade-up" data-aos-delay="100">
  <div class="title-page">
    {{ page.retie_list_title }}
  </div>
  <div class="table-responsive">
    <table class="table-bordered w-100 table table-hover">
      <tr class="table-head">
        <th>Circulares e instructivos</th>
        <th>Descripción</th>
      </tr>
      {% for subitem in page.retie_list %}
      <tr>
        <td class=" text-right"><a href="{{subitem.value.document.url }}">
            {{ subitem.value.document.title }}
          </a></td>
        <td class=" text-right">{{ subitem.value.intro|richtext }}</td>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>

</div>
{% endif %}

{% if page.table_list %}
<div class="container mt-4" data-aos="fade-up" data-aos-delay="100">
  <div class="title-page">
    {{ page.block_title }}
  </div>
  <div>
    {{ page.block_intro|richtext }}
  </div>
  <div class="row mme-item-card-content ms-1">
    {% for element in page.actions_list %}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-2 gy-4 mme-item-card">
      <div data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">
        {% if element.value.subitems %}
        <a data-bs-toggle="modal" data-bs-target="#Modal{{ forloop.counter0 }}">
          <div>
            <svg class="mme-item-card-icon rounded mx-auto d-block">
              <image xlink:href="{{ element.value.icono.url }}" />
            </svg>
          </div>
          <div class="mme-item-text-content">
            <p class="text-center mme-item-card-text  lh-1 ">
              {{ element.value.title }}
            </p>
          </div>
        </a>
        {% elif element.value.document.url %}
        <a href="{{ element.value.document.url }}" class="remove-a-styles">
          <div>
            <svg class="mme-item-card-icon rounded mx-auto d-block">
              <image xlink:href="{{ element.value.icono.url }}" />
            </svg>
          </div>
          <div class="mme-item-text-content">
            <p class="text-center mme-item-card-text  lh-1 ">
              {{ element.value.title }}
            </p>
          </div>
        </a>
        {% elif element.value.url %}
        <a href="{{ element.value.url }}" class="remove-a-styles">
          <div>
            <svg class="mme-item-card-icon rounded mx-auto d-block">
              <image xlink:href="{{ element.value.icono.url }}" />
            </svg>
          </div>
          <div class="mme-item-text-content">
            <p class="text-center mme-item-card-text  lh-1 ">
              {{ element.value.title }}
            </p>
          </div>
        </a>
        {% else %}
        <a data-bs-toggle="modal" data-bs-target="#Modal{{ forloop.counter0 }}">
          <div>
            <svg class="mme-item-card-icon rounded mx-auto d-block">
              <image xlink:href="{{ element.value.icono.url }}" />
            </svg>
          </div>
          <div class="mme-item-text-content">
            <p class="text-center mme-item-card-text  lh-1 ">
              {{ element.value.title }}
            </p>
          </div>
        </a>
        {% endif %}
      </div>
    </div>
    {% endfor %}

    <!-- Modal -->
    {% for element in page.actions_list %}
    {% if element.value.url == None and element.value.document.url == None %}
    <div class="modal fade" id="Modal{{ forloop.counter0 }}" tabindex="-1" aria-labelledby="ModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content" style="background-color: var(--mme-blue);color:white">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="exampleModalLabel">
              {{ element.value.title }}
            </h5>
            <button type="button" class="btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="background-color: white;color:black">
            <p class="fs-5">
              {{ element.value.description }}
            </p>
            {% if element.value.subitems %}
            <div class="list-group">
              {% for subitems in element.value.subitems %}
              {% if subitems.url %}
              <a class="list-group-item list-group-item-action" href="{{ subitems.url }}">{{ subitems.name }}</a>
              {% elif subitems.document.url %}
              <a class="list-group-item list-group-item-action" href="{{ subitems.document.url }}">{{ subitems.name
                }}</a>
              {% else %}
              <a class="list-group-item list-group-item-action">{{ subitems.name }}</a>
              {% endif %}
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <!-- Modal -->
  </div>
  <div class="table-responsive mt-5">
    <table class="table-bordered w-100 table table-hover">
      <tr class="table-head">
        <th>Acuerdos</th>
        <th>Descripción</th>
      </tr>
      {% for subitem in page.table_list %}
      <tr>
        <td class=" text-right"><a href="{{subitem.value.document.url }}">
            {{ subitem.value.document.title }}
          </a></td>
        <td class=" text-right">{{ subitem.value.intro|richtext }}</td>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>

</div>
{% endif %}

{% if page.table_two_list %}
<div class="container mt-4" data-aos="fade-up" data-aos-delay="100">
  <div class="title-page">
    {{ page.block_two_title }}
  </div>
  <div>
    {{ page.block_two_intro|richtext }}
  </div>
  <div class="table-responsive">
    <table class="table-bordered w-100 table table-hover">
      <tr class="table-head">
        <th>Actas</th>
        <th>Descripción</th>
      </tr>
      {% for subitem in page.table_two_list %}
      <tr>
        <td class=" text-right"><a href="{{subitem.value.document.url }}">
            {{ subitem.value.document.title }}
          </a></td>
        <td class=" text-right">{{ subitem.value.intro|richtext }}</td>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>

</div>
{% endif %}


{% endblock content %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mmeoptionsmenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/aos.js' %}"></script>


<script>
  AOS.init();
</script>



{% endblock extra_js %}