{% extends "base.html" %}
{% load static wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
<link href="{% static 'css/aos.css' %}" rel="stylesheet" />
<link href="{% static 'css/contratacion-accordion.css' %}" rel="stylesheet" />

{% endblock extra_css %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 animate__animated animate__zoomIn">
      <div class="intro-section ul-list">
        <strong class="title-page-special">{{ page.title }}</strong>
        {{ page.intro|richtext }}
      </div>
    </div>
  </div>

</div>


{% if page.menu_list %}
<div class="container mt-5" data-aos="fade-up" data-aos-delay="100">
  <div class="wrapper-mme-menu">
    <div class="mme-menu-options">
      {% for element in page.menu_list %}
      {% if forloop.counter0 == 0 %}
      <div class="mme-menu-option show active" data-bs-target="content_item{{ forloop.counter0 }}">
        {{ element.value.caption }}
      </div>
      <div class="mme-menu-content-movil">
        <div class="mme-menu-content-item show active" id="movilcontent_item{{ forloop.counter0 }}">
          <div class="row ">
            <div class="col-sm-12 col-md-12">
              <strong class="content-item-title lh-sm text-start">{{ element.value.caption }}</strong>
              <p class="fs-5 text-start">
                {{ element.value.main_description }}
              </p>

            </div>
            <div class="col-12">
              <p class="mt-3 text-start">
                {{ element.value.second_description }}
              </p>

            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="mme-menu-option" data-bs-target="content_item{{ forloop.counter0 }}">
        {{ element.value.caption }}
      </div>
      <div class="mme-menu-content-movil">
        <div class="mme-menu-content-item" id="movilcontent_item{{ forloop.counter0 }}">
          <div class="row ">
            <div class="col-sm-12 col-md-12">
              <strong class="content-item-title lh-sm text-start">{{ element.value.caption }}</strong>
              <p class="fs-5 text-start">
                {{ element.value.main_description }}
              </p>

            </div>
            <div class="col-12">
              <p class="mt-3 text-start">
                {{ element.value.second_description }}
              </p>

            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

    </div>
    <div class="mme-menu-content">
      {% for element in page.menu_list %}
      {% if forloop.counter0 == 0 %}
      <div class="mme-menu-content-item show active" id="content_item{{ forloop.counter0 }}">
        <div class="row ">
          <div class="col-sm-12 col-md-12 ">
            <strong class="content-item-title lh-sm text-start">{{ element.value.caption }}</strong>
            <p class="fs-5 text-start">
              {{ element.value.main_description }}
            </p>
          </div>
          <div class="col-12">
            <p class="mt-3 text-start">
              {{ element.value.second_description }}
            </p>
          </div>
        </div>
      </div>
      {% else %}
      <div class="mme-menu-content-item" id="content_item{{ forloop.counter0 }}">
        <div class="row ">
          <div class="col-sm-12 col-md-12 ">
            <strong class="content-item-title lh-sm text-start">{{ element.value.caption }}</strong>
            <p class="fs-5 text-start">
              {{ element.value.main_description }}
            </p>
          </div>
          <div class="col-12">
            <p class="mt-3 text-start">
              {{ element.value.second_description }}
            </p>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% if page.retie_list %}
<div class="container mt-4" data-aos="fade-up" data-aos-delay="100">
  <div class="title-page">
    {{ page.retie_list_title }}
  </div>
  <div class="table-responsive">
    <table class="table-bordered w-100 table table-hover">
      <tr class="table-head">
        <th>Circulares e instructivos</th>
        <th>Descripción</th>
      </tr>
      {% for subitem in page.retie_list %}
      <tr>
        <td class=" text-right"><a href="{{subitem.value.document.url }}">
            {{ subitem.value.document.title }}
          </a></td>
        <td class=" text-right">{{ subitem.value.intro|richtext }}</td>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>

</div>
{% endif %}

{% if page.list_one %}
{% for block in page.list_one %}
{% with parentID=forloop.counter0 %}
<div class="container" data-aos="fade-up" data-aos-delay="100">
  <div class="title-page">
    {{ page.title_list_one }}
  </div>
  {% if page.block.value.title %}
  <div class="title-page">
    {{ block.value.title }}
  </div>
  {% endif %}
  <div class="accordion container" id="accordion{{ parentID }}">
    {% for element in block.value.subitems %}
    {% if forloop.counter0 == 0 %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ parentID }}{{ forloop.counter0 }}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse{{ parentID }}{{ forloop.counter0 }}" aria-expanded="true" aria-controls="tramites">
          {{ element.title }}
        </button>
      </h2>
      <div id="collapse{{ parentID }}{{ forloop.counter0 }}" class="accordion-collapse collapse show left-dotted-border"
        aria-labelledby="heading{{ parentID }}{{ forloop.counter0 }}" data-bs-parent="#accordion{{ parentID }}">
        <div class="accordion-body ">
          <div class="row m-0 p-0">
            {{ element.description|richtext }}
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ parentID }}{{ forloop.counter0 }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse{{ parentID }}{{ forloop.counter0 }}" aria-expanded="false"
          aria-controls="collapseThree">
          {{ element.title }}
        </button>
      </h2>
      <div id="collapse{{ parentID }}{{ forloop.counter0 }}" class="accordion-collapse collapse left-dotted-border"
        aria-labelledby="heading{{ parentID }}{{ forloop.counter0 }}" data-bs-parent="#accordion{{ parentID }}">
        <div class="accordion-body">
          <div class="row m-0 p-0">
            {{ element.description|richtext }}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endwith %}
{% endfor %}
{% endif %}

{% endblock content %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mmeoptionsmenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/aos.js' %}"></script>


<script>
  AOS.init();
</script>



{% endblock extra_js %}