{% extends "base.html" %}
{% load static wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
<link href="{% static 'css/aos.css' %}" rel="stylesheet" />
{% endblock extra_css %}


{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5 small-order-1 animate__animated animate__zoomIn">
            <div class="ps-md-5 pe-md-5 intro-section">
                <strong class="title-page-special">{{ page.intro_title }}</strong>
                {{ page.intro|richtext }}
            </div>
        </div>
        {% if page.link_video != None and page.link_video|length > 0 %}
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7 small-order-2 animate__animated animate__zoomIn">
            <div class="video-responsive">
                <iframe src="{{ page.link_video }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        {% else %}
        {% image page.image original as intro_image %}
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7 small-order-2 animate__animated animate__zoomIn">
            <img class="img-fluid " src="{{ intro_image.url }}" alt="{{ page.alt_text }}">
        </div>
        {% endif %}

    </div>
</div>


{% if page.block_list %}
<div class="container mt-5" data-aos="fade-up" data-aos-delay="100">
    {% for element in page.block_list %}
    {% if element.value.align == 'true' %}
    <div class="row mt-5">
        <div class="col-sm-12 col-md-12">
            <div class="title-page">
                {{ element.value.title }}
            </div>
            <div class="d-flex justify-content-between">
                <div class="mt-5 me-3">
                    <img src="{{ element.value.icono.url }}" class="rounded mx-auto d-block"
                        style="width:150px; filter:var(--mme-green-filter)">
                </div>
                <div>
                    {{ element.value.description|richtext }}
                </div>
            </div>
        </div>
        {% if element.value.url %}
        <div class="col-xxl-12 col-xl-12 mt-5">
            <div class="d-flex justify-content-between align-items-center">
                <hr class="divider">
                <a href="{{ element.value.url }}" class="more-info-button">Más información </a>
            </div>
        </div>
        {% endif %}
    </div>
    {% else %}
    <div class="row mt-5">
        <div class="col-sm-12 col-md-12">
            <div class="title-page">
                {{ element.value.title }}
            </div>
            <div class="d-flex justify-content-between">
                <div>
                    {{ element.value.description|richtext }}
                </div>
<!-- el icono va a la derecha !-->
                <div class="mt-5 ms-3">
                    <img src="{{ element.value.icono.url }}" class="rounded mx-auto d-block"
                        style="width:150px; filter:var(--mme-green-filter)">
                </div>

            </div>
            {% if element.value.url %}
            <div class="col-xxl-12 col-xl-12 mt-5">
                <div class="d-flex justify-content-between align-items-center">
                    <hr class="divider">
                    <a href="{{ element.value.url }}" class="more-info-button">Más información </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}

{% if page.link_list %}

<!--//inicia GRUPOS TRANSVERSALES DE LA DIRECCION¡-->
<div class="container mt-5">
    <div class="title-page">
        {{ page.link_list_title }}
    </div>

    <div class="row mme-item-card-content ms-1">
        {% for element in page.link_list %}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-2 gy-4 mme-item-card">
            <div data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">
                {% if element.value.subitems %}
                <a data-bs-toggle="modal" data-bs-target="#Modal{{ forloop.counter0 }}">
                    <div>
                        <svg class="mme-item-card-icon rounded mx-auto d-block">
                            <image xlink:href="{{ element.value.icono.url }}" />
                        </svg>
                    </div>
                    <div class="mme-item-text-content">
                        <p class="text-center mme-item-card-text  lh-1 ">
                            {{ element.value.title }}
                        </p>
                    </div>
                </a>
                {% elif element.value.document.url %}
                <a href="{{ element.value.document.url }}" class="remove-a-styles">
                    <div>
                        <svg class="mme-item-card-icon rounded mx-auto d-block">
                            <image xlink:href="{{ element.value.icono.url }}" />
                        </svg>
                    </div>
                    <div class="mme-item-text-content">
                        <p class="text-center mme-item-card-text  lh-1 ">
                            {{ element.value.title }}
                        </p>
                    </div>
                </a>
                {% elif element.value.url %}
                <a href="{{ element.value.url }}" class="remove-a-styles">
                    <div>
                        <svg class="mme-item-card-icon rounded mx-auto d-block">
                            <image xlink:href="{{ element.value.icono.url }}" />
                        </svg>
                    </div>
                    <div class="mme-item-text-content">
                        <p class="text-center mme-item-card-text  lh-1 ">
                            {{ element.value.title }}
                        </p>
                    </div>
                </a>
                {% else %}
                <a data-bs-toggle="modal" data-bs-target="#Modal{{ forloop.counter0 }}">
                    <div>
                        <svg class="mme-item-card-icon rounded mx-auto d-block">
                            <image xlink:href="{{ element.value.icono.url }}" />
                        </svg>
                    </div>
                    <div class="mme-item-text-content">
                        <p class="text-center mme-item-card-text  lh-1 ">
                            {{ element.value.title }}
                        </p>
                    </div>
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <!-- Modal -->
        {% for element in page.link_list %}
        {% if element.value.url == None and element.value.document.url == None %}
        <div class="modal fade" id="Modal{{ forloop.counter0 }}" tabindex="-1" aria-labelledby="ModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content" style="background-color: var(--mme-blue);color:white">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLabel">
                            {{ element.value.title }}
                        </h5>
                        <button type="button" class="btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="background-color: white;color:black">
                        <p class="fs-5">
                            {{ element.value.description }}
                        </p>
                        {% if element.value.subitems %}
                        <div class="list-group">
                            {% for subitems in element.value.subitems %}
                            {% if subitems.url %}
                            <a class="list-group-item list-group-item-action" href="{{ subitems.url }}">{{ subitems.name
                                }}</a>
                            {% elif subitems.document.url %}
                            <a class="list-group-item list-group-item-action" href="{{ subitems.document.url }}">{{
                                subitems.name }}</a>
                            {% else %}
                            <a class="list-group-item list-group-item-action">{{ subitems.name }}</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <!-- Modal -->
    </div>
</div>
<!--//finaliza GRUPOS TRANSVERSALES DE LA DIRECCION¡-->


{% endif %}




{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
<script>
    AOS.init();
</script>
{% endblock extra_js %}
