{% extends "base.html" %}
{% load static wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
<link href="{% static 'css/aos.css' %}" rel="stylesheet" />
<link href="{% static 'css/auditoria-interna-accordion.css' %}" rel="stylesheet" />

{% endblock extra_css %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12  animate__animated animate__zoomIn">
      <div class="intro-section">
        <strong class="title-page-special">{{ page.title }}</strong>
        <p>{{ page.intro|richtext }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="title-page">
    {{ page.history_title }}
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12  animate__animated animate__zoomIn">
      <p>{{ page.history|richtext }}</p>
    </div>
  </div>
</div>

{% if page.chain_links %}
<div class="container mt-5" data-aos="fade-up" data-aos-delay="100">
  <div class="title-page">
    {{ page.chain_title }}
  </div>
  <div>
    {{ page.chain|richtext }}
  </div>
  <div class="row">
    {% for element in page.chain_links %}
    <div class="mt-5 col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3" >
      <div class="shadow py-md-4 px-md-4 py-sm-36 px-sm-3">
        {% if element.value.icono %}
        <div class="d-flex justify-content-start">
          <svg class="mme-item-card-icon ">
            <image xlink:href="{{ element.value.icono.url }}" alt="element.value.alt_text" />
          </svg>
        </div>
        {% endif %}
        <p class="cards-slider-title text-start mt-4">{{ element.value.title }}</p>
        <div class="cards-slider-text text-start">
          {{ element.value.description|safe }}
        </div>
        {% if element.value.url %}
        <div class="d-flex justify-content-between align-items-center">
          <hr class="divider">
          <a href="{{ element.value.url }}" class="btn cards-slider-room-button">Ver más</a>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}


{% if page.assigned_tabs_list %}
<div class="container mt-4" data-aos="fade-up" data-aos-delay="100">
  <div class="title-page">
    {{ page.assigned_tabs_list_title }}
  </div>
  <div class="accordion container" id="accordionExample">
    {% for element in page.assigned_tabs_list %}
    {% if forloop.counter0 == 0 %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ forloop.counter0 }}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse{{ forloop.counter0 }}" aria-expanded="true" aria-controls="tramites">
          <div class="d-flex align-items-center justify-content-center lh-sm">{{ element.value.title }}</div>
        </button>
      </h2>
      <div id="collapse{{ forloop.counter0 }}" class="accordion-collapse collapse show"
        aria-labelledby="heading{{ forloop.counter0 }}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {% for subitem in element.value.subitems %}
          <div class="row">
            <div class="col-sm-12">
              <div>{{ subitem.description|richtext }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% else %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ forloop.counter0 }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse{{ forloop.counter0 }}" aria-expanded="false" aria-controls="collapseThree">
          <div class="d-flex align-items-center justify-content-center lh-sm">{{ element.value.title }}</div>
        </button>
      </h2>
      <div id="collapse{{ forloop.counter0 }}" class="accordion-collapse collapse"
        aria-labelledby="heading{{ forloop.counter0 }}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {% for subitem in element.value.subitems %}
          <div class="row">
            <div class="col-sm-12">
              <div>{{ subitem.description|richtext }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}

{% if page.general_tabs_list %}
<div class="container mt-4" data-aos="fade-up" data-aos-delay="100">

  <nav class="mme-taps">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      {% for element in page.general_tabs_list %}
      {% if forloop.counter0 == 0 %}
      <button class="nav-link show active" id="assigned-tab-{{ forloop.counter0 }}" data-bs-toggle="tab"
        data-bs-target="#general_tap{{ forloop.counter0 }}" type="button" role="tab" aria-controls="tramites"
        aria-selected="true">
        <div class="d-flex align-items-center justify-content-center lh-sm">{{ element.value.title }}</div>
      </button>
      {% else %}
      <button class="nav-link" id="assigned-tab-{{ forloop.counter0 }}" data-bs-toggle="tab"
        data-bs-target="#general_tap{{ forloop.counter0 }}" type="button" role="tab" aria-controls="medicion"
        aria-selected="false">
        <div class="d-flex align-items-center justify-content-center lh-sm">{{ element.value.title }}</div>
      </button>
      {% endif %}
      {% endfor %}
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent-general_tabs">
    {% for element in page.general_tabs_list %}
    {% if forloop.counter0 == 0 %}
    <div class="tab-pane fade show show active mt-3" id="general_tap{{ forloop.counter0 }}" role="tabpanel"
      aria-labelledby="tap{{ forloop.counter0 }}">
      <div>{{ element.value.description|richtext }}</div>
      {% else %}
      <div class="tab-pane fade mt-3" id="general_tap{{ forloop.counter0 }}" role="tabpanel"
        aria-labelledby="tap{{ forloop.counter0 }}">
        <div>{{ element.value.description|richtext }}</div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="title-page">
    {{ page.gas_title }}
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12  animate__animated animate__zoomIn">
      <p>{{ page.gas|richtext }}</p>
    </div>
  </div>
</div>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
<script>
  AOS.init();

</script>
{% endblock extra_js %}
