{% extends "base.html" %}
{% load static wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
<link href="{% static 'css/aos.css' %}" rel="stylesheet" />
<link href="{% static 'css/auditoria-interna-accordion.css' %}" rel="stylesheet" />

{% endblock extra_css %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12  animate__animated animate__zoomIn">
      <div>
        <strong class="title-page-special">{{ page.title }}</strong>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="title-page">
    {{ page.how_title }}
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p>{{ page.how|richtext }}</p>
    </div>
  </div>
</div>


<div class="container">
  <div class="title-page">
    {{ page.second_title }}
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div>
        {{ page.second_intro_one|richtext }}
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">
      <div>
        {{ page.second_intro|richtext }}
      </div>
    </div>
    {% if page.second_link_pbi %}
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8  ">
      <div class="ratio ratio-16x9" id="board_one"></div>
    </div>
    {% else %}
    {% image page.second_image original as intro_image %}
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 ">
      <img class="img-fluid" src="{{ intro_image.url }}" alt="{{ page.second_alt_text }}">
    </div>
    {% endif %}
  </div>
</div>

<div class="container">
  <div class="title-page">
    {{ page.sicom_title }}
  </div>
  <div class="row">
    {% image page.sicom_image original as intro_image %}
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 ">
      <img class="img-fluid" src="{{ intro_image.url }}" alt="{{ page.sicom_alt_text }}">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4 ">
      {{ page.sicom_intro|richtext }}
    </div>
  </div>
</div>

<div class="container">
  <div class="title-page">
    {{ page.chain_title }}
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12  animate__animated animate__zoomIn">
      <p>{{ page.chain_intro|richtext }}</p>
    </div>
  </div>
</div>

{% if page.menu_list %}
<div class="container" data-aos="fade-up" data-aos-delay="100">
  <div class="title-page">
    {{ page.menu_list_title }}
  </div>
  <div>
    {{ page.menu_list_intro|richtext }}
  </div>
  <div class="wrapper-mme-menu">
    <div class="mme-menu-options">
      {% for element in page.menu_list %}
      {% if forloop.counter0 == 0 %}
      <div class="mme-menu-option show active" data-bs-target="content_item{{ forloop.counter0 }}">
        {{ element.value.caption }}
      </div>
      <div class="mme-menu-content-movil">
        <div class="mme-menu-content-item show active" id="movilcontent_item{{ forloop.counter0 }}">
          <div class="row ">
            <div class="col-sm-12 col-md-12">
              <strong class="content-item-title lh-sm text-start">{{ element.value.caption }}</strong>
              <p class="fs-5 text-start">
                {{ element.value.main_description }}
              </p>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="mme-menu-option" data-bs-target="content_item{{ forloop.counter0 }}">
        {{ element.value.caption }}
      </div>
      <div class="mme-menu-content-movil">
        <div class="mme-menu-content-item" id="movilcontent_item{{ forloop.counter0 }}">
          <div class="row ">
            <div class="col-sm-12 col-md-12">
              <strong class="content-item-title lh-sm text-start">{{ element.value.caption }}</strong>
              <p class="fs-5 text-start">
                {{ element.value.main_description }}
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

    </div>
    <div class="mme-menu-content">
      {% for element in page.menu_list %}
      {% if forloop.counter0 == 0 %}
      <div class="mme-menu-content-item show active" id="content_item{{ forloop.counter0 }}">
        <div class="row ">
          <div class="col-sm-12 col-md-12">
            <strong class="content-item-title lh-sm text-start">{{ element.value.caption }}</strong>
            <p class="fs-5 text-start">
              {{ element.value.main_description }}
            </p>
          </div>
        </div>
      </div>
      {% else %}
      <div class="mme-menu-content-item" id="content_item{{ forloop.counter0 }}">
        <div class="row ">
          <div class="col-sm-12 col-md-12">
            <strong class="content-item-title lh-sm text-start">{{ element.value.caption }}</strong>
            <p class="fs-5 text-start">
              {{ element.value.main_description }}
            </p>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}



{% if page.plan_tabs_list %}
<div class="container mt-4" data-aos="fade-up" data-aos-delay="100">
  <div class="title-page">
    {{ page.plan_title }}
  </div>
  <div>
    {{ page.plan_intro|richtext }}
  </div>
  <div class="accordion container" id="accordionExample">
    {% for element in page.plan_tabs_list %}
    {% if forloop.counter0 == 0 %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ forloop.counter0 }}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse{{ forloop.counter0 }}" aria-expanded="true" aria-controls="tramites">
          <div class="d-flex align-items-center justify-content-center lh-sm">{{ element.value.title }}</div>
        </button>
      </h2>
      <div id="collapse{{ forloop.counter0 }}" class="accordion-collapse collapse show"
        aria-labelledby="heading{{ forloop.counter0 }}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {% for subitem in element.value.subitems %}
          <div class="row">
            <div class="col-sm-12">
              <div>{{ subitem.description|richtext }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% else %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ forloop.counter0 }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse{{ forloop.counter0 }}" aria-expanded="false" aria-controls="collapseThree">
          <div class="d-flex align-items-center justify-content-center lh-sm">{{ element.value.title }}</div>
        </button>
      </h2>
      <div id="collapse{{ forloop.counter0 }}" class="accordion-collapse collapse"
        aria-labelledby="heading{{ forloop.counter0 }}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {% for subitem in element.value.subitems %}
          <div class="row">
            <div class="col-sm-12">
              <div>{{ subitem.description|richtext }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="container">
  <div class="title-page">
    {{ page.price_title }}
  </div>
  <div class="row">
    {% image page.price_image original as intro_image %}
    <div class="col-sm-12 col-md-12 col-lg-3 ">
      <img class="img-fluid" src="{{ intro_image.url }}" alt="{{ page.price_alt_text }}">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-9 ">
      {{ page.price_intro|richtext }}
    </div>
  </div>
</div>


{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
<script type="text/javascript" src="{% static 'pb/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'pb/powerbi.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mmeoptionsmenu.js' %}"></script>

<script type="text/javascript" src="{% static 'js/swiper/swiper-bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/swiper/swiper-participation.js' %}"></script>

<script>
  AOS.init();
  // Power BI endpoints
  var boards = {
    "boards": [
      {
        "url": "{{ page.second_link_pbi }}",
        "id": "board_one"
      },
      {
        "url": "{{ page.second_link_pbi }}",
        "id": "board_two"
      },
      {
        "url": "{{ page.third_link_pbi }}",
        "id": "board_three"
      }
    ]
  }
</script>
<script type="text/javascript" src="{% static 'js/power_bi_boards.js' %}"></script>
{% endblock extra_js %}