{% extends "base.html" %}
{% load static wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
<link href="{% static 'css/aos.css' %}" rel="stylesheet" />
{% endblock extra_css %}


{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5 small-order-1 animate__animated animate__zoomIn">
          <div class="ps-md-5 pe-md-5 intro-section">
              <strong class="title-page-special">{{ page.intro_title }}</strong>
              {{ page.intro|safe }}
          </div>
        </div>
        {% if page.link_video != None and page.link_video|length > 0 %}
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7 small-order-2 animate__animated animate__zoomIn">
            <div class="video-responsive">
                <iframe src="{{ page.link_video }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        {% else %}
        {% image page.image original as intro_image %}
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7 small-order-2 animate__animated animate__zoomIn">
            <img class="img-fluid " src="{{ intro_image.url }}" alt="{{ page.alt_text }}" >
        </div>
        {% endif %}
        
    </div>
</div>

<div class="container-fluid pt-5">
    <div class="row" data-aos="fade-up" data-aos-delay="100">
        {% for element in page.featured_link %}
        <a href="{{ element.value.url }}">
            {% endfor %}

            <div class="col-sm-12 col-md-12 col-lg-12 text-over-image-container">
                {% image page.image_link fill-1920x375 as link_image %}
                <img src="{{link_image.url }}" class="cropped-link">
                <div class="text-over-image-border">
                    <h2 class="text-over-image-text"> {{ page.text_link|safe }} </h2>
                </div>
                <svg class="text-over-image-icon">
                    <image xlink:href="{% static 'assets/seleccionar.svg' %}" />
                </svg>

            </div>
        </a>
    </div>
</div>
{% if page.second_links %}
<div class="container mt-5" data-aos="fade-up" data-aos-delay="100">
  <div class="justify-content-evenly flex-wrap row">
      {% for element in page.second_links %}
      <div class="element-card col-md-4 col-xl-3">
          <div class="py-md-4 px-md-4 py-sm-36 px-sm-3">
              {% if element.value.icono %}
              <div class="d-flex justify-content-start">
                  <svg class="mme-item-card-icon ">
                      <image xlink:href="{{ element.value.icono.url }}" alt="element.value.alt_text" />
                  </svg>
              </div>
              {% endif %}
              <p class="cards-slider-title text-start mt-4">{{ element.value.title }}</p>
              <div class="cards-slider-text text-start">
                  {{ element.value.description|safe }}
              </div>
              {% if element.value.url %}
              <div class="d-flex justify-content-between align-items-center">
                  <hr class="divider">
                  <a href="{{ element.value.url }}" class="btn cards-slider-room-button">Ver más</a>
              </div>
              {% endif %}
          </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endif %}


{% endblock content %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
  <script>
    AOS.init();
  </script>
{% endblock extra_js %}