.DS_Store
node_modules

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Volumes
volumes/logs_volume/*
volumes/media_volume/*
volumes/postgres_data/*
volumes/static_volume/*

# Volumes Allow
!volumes/logs_volume/_init_
!volumes/media_volume/_init_
!volumes/postgres_data/_init_
!volumes/static_volume/_init_


src/MME/MME/settings/google_key.json
# Files
*.pyc
*.class
*.bak
*.log
*.csv
*.pdf
*.xlsx
*.zip

.DS_Store
node_modules

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Volumes
volumes/logs_volume/*
volumes/media_volume/*
volumes/postgres_data/*
volumes/static_volume/*

# Volumes Allow
!volumes/logs_volume/_init_
!volumes/media_volume/_init_
!volumes/postgres_data/_init_
!volumes/static_volume/_init_


src/MME/MME/settings/google_key.json
