{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link href="{% static 'css/press_room.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
<link href="{% static 'css/aos.css' %}" rel="stylesheet" />

{% endblock extra_css %}
<style>
    #twitter-widget-0 {
  max-width: 50% !important;
}
#facebook-widget-0 {
  width: 50% !important;
}
</style>

{% block content %}

<div class="container">
    <strong class="title-page-special">{{ page.title }}</strong>
</div>

{% if page.news_list %}
<div class="container">
    <div class="title-page">
        {{ page.news_list_title }}
    </div>

    <div class="row mt-5">
        {% for childpage in page.news_list.specific.children|slice:"1" %}
        {% if forloop.counter0 == 0 %}
        <div class="col-xxl-7 col-xl-7 col-lg-12  col-md-12 col-sm-12 main-news-container animate__animated
                    animate__zoomIn">
            <a href='{{childpage.url}}' class="link-main-news">
                <div class="row">
                    <div class="col-xxl-12 col-xl-12 col-lg-12 align-items-center image-zoom-container">
                        <div class="zoom-container">
                            {% image childpage.image original as image %}
                            <img src="{{ image.url }}" class="img-fluid " alt="...">
                        </div>
                    </div>
                    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="main-news-title">{{childpage.title}}</p>
                            <div>
                                <svg class="press-room-svg">
                                    <image xlink:href="{% static 'images/prensa/mano.svg' %}" />
                                </svg>
                            </div>
                        </div>
                        <p class="main-news-subtitle">
                            {{ childpage.date_published }}.
                            {% if childpage.authors %}
                            {% for author in childpage.authors %}
                            {{ author.organization_title }}
                            {% endfor %}
                            {% endif %}
                            , {{ childpage.city }}.
                        </p>
                    </div>
                </div>
            </a>
        </div>

        {% endif %}
        {% endfor %}
        <div class="col-xxl-5 col-xl-5 col-lg-12 col-md-12 col-sm-12 ps-4 animate__animated animate__zoomIn">
            <div class="row">
                <div class="d-flex justify-content-start align-items-center">
                    <svg class="press-room-svg">
                        <image xlink:href="{% static 'images/prensa/opciones.svg' %}" />
                    </svg>
                    <p class="news-info-list">Seleccione la noticia que desea consultar:</p>
                </div>
            </div>
            <div class="row">

                {% for childpage in page.news_list.specific.children|slice:"4" %}
                {% if forloop.counter0 >= 1 %}
                <a href="{{childpage.url}}" class="link-second-news">
                    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12  news-list">
                        <div class="news-list-title">{{childpage.title}}</div>
                        <p class="news-list-subtitle">
                            {{ childpage.date_published }}.
                            {% if childpage.authors %}
                            {% for author in childpage.authors %}
                            {{ author.organization_title }}
                            {% endfor %}
                            {% endif %}
                            , {{ childpage.city }}.
                        </p>
                    </div>
                </a>

                {% endif %}
                {% endfor %}
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-5">
                    <div class="d-flex justify-content-between align-items-center">
                        <hr class="divider">
                        <a href="{{ page.news_list.url }}" class="more-info-button">{{ page.news_button_title }}</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if page.gallery_list %}
<div class="container mt-5" data-aos="fade-up" data-aos-delay="100">
    <div class="title-page">
        {{ page.gallery_list_title }}
    </div>
    <div class="gallery-container" id="galleryList">
        {% for childpage in page.gallery_list.specific.children|slice:"5" %}
        <div class="gallery-item" data-aos="fade-up" data-aos-delay="100">
            {% image childpage.image fill-1920x600 as image %}
            <a href="{{childpage.url}}" class="image-item" data-sub-html="<h4>{{childpage.title}}</h4>">
                <img class="gallery-img shadow-lg" src="{{ image.url }}">
                <h5 class="gallery-title">{{childpage.title}}</h5>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-5">
            <div class="d-flex justify-content-between align-items-center">
                <hr class="divider">
                <a href="{{ page.gallery_list.url }}" class="more-info-button">{{ page.gallery_button_title }}</a>
            </div>

        </div>
    </div>
</div>
{% endif %}

{% if page.videos_list %}
<div class="container mt-5" data-aos="fade-up" data-aos-delay="100">
    <div class="title-page">
        {{ page.videos_list_title }}
    </div>

    <div class="video-container">
        {% for childpage in page.videos_list.specific.children|slice:"4" %}
        {% if forloop.counter0 == 0 %}
        <div class="video-item" data-aos="fade-up" data-aos-delay="100">
            <div class="video-responsive">
                <iframe src="{{childpage.link_video}}" frameborder="0" allowfullscreen></iframe>
            </div>
            <h4 class="mt-3">{{childpage.title}}</h4>
        </div>
        {% endif %}
        {% if forloop.counter0 >= 1 %}
        <div class="video-item" data-aos="fade-up" data-aos-delay="100">
            <div class="video-responsive">
                <iframe src="{{childpage.link_video}}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <hr class="divider">
                <a href="{{ page.videos_list.url }}" class=" more-info-button">{{ page.videos_button_title }}</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if page.audios_list %}
<div class="container mt-5" data-aos="fade-up" data-aos-delay="100">
    <div class="title-page">
        {{ page.audios_list_title }}
    </div>
    <div class="container audios-list">
        {% for childpage in page.audios_list.specific.children|slice:"3" %}
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-xl-4 ">
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <audio controls>
                        <source src="{{childpage.audio.url}}" type="audio/mp3">
                    </audio>
                </div>
            </div>
            <div class="col-xl-8">
                <h4 class="audio-title pt-2">{{childpage.title}}</h4>
                <p class="audio-subtitle">
                    {{ childpage.date_published }}.
                    {% if childpage.authors %}
                    {% for author in childpage.authors %}
                    {{ author.organization_title }}
                    {% endfor %}
                    {% endif %}
                    , {{ childpage.city }}.
                </p>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <hr class="divider">
                <a href="{{page.audios_list.url}}" class=" more-info-button">{{ page.audios_button_title }}</a>
            </div>

        </div>
    </div>
</div>
{% endif %}

<div class="container mt-2" data-aos="fade-up" data-aos-delay="100">
    <div class="row">

        {% if page.documents_list %}
        <div class="col-xxl-4 col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-3 miscellaneous-item" data-aos="fade-up"
            data-aos-delay="100">
            <div class="title-page">
                {{ page.documents_list_title }}
            </div>
            {% for childpage in page.documents_list.specific.children|slice:"4" %}
            <div class="d-flex justify-content-between align-items-center presentations-item ">
                <a href="{{childpage.url}}">
                    <h4 class="presentations-title">{{childpage.title}}</h4>
                </a>
            </div>
            {% endfor %}
            <div class="d-flex justify-content-between align-items-center miscellaneous-more">
                <hr class="divider">
                <a href="{{page.documents_list.url}}" class=" more-info-button-large">{{ page.documents_button_title }}</a>
            </div>
        </div>
        {% endif %}

        {% if page.infographics_list %}
        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-3 miscellaneous-item" data-aos="fade-up"
            data-aos-delay="200">
            <div class="title-page">
                {{ page.infographics_list_title }}
            </div>
            <div id="carouselInfografias" class="carousel slide carousel-mme" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselInfografias" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselInfografias" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselInfografias" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselInfografias" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    {% for childpage in page.infographics_list.specific.children|slice:"4" %}

                    {% if forloop.counter0 == 0 %}
                    <div class="carousel-item active">
                        {% image childpage.image fill-450x450 as image %}
                        <a href="{{childpage.url}}">
                            <img src="{{ image.url }}" class="d-block w-100" alt="{{childpage.title}}">
                        </a>
                    </div>
                    {% endif %}
                    {% if forloop.counter0 >= 1 %}
                    <div class="carousel-item">
                        {% image childpage.image fill-450x450 as image %}
                        <a href="{{childpage.url}}">
                            <img src="{{ image.url }}" class="d-block w-100" alt="{{childpage.title}}">
                        </a>
                    </div>
                    {% endif %}

                    {% endfor %}

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselInfografias"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselInfografias"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="d-flex justify-content-between align-items-center miscellaneous-more-infographics">
                <hr class="divider">
                <a href="{{ page.infographics_list.url }}" class=" more-info-button-large">{{ page.infographics_button_title }}</a>
            </div>
        </div>
        {% endif %}

        {% if page.podcast_iframe_url %}
        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-3 miscellaneous-item" data-aos="fade-up"
            data-aos-delay="300">
            <div class="title-page">
                {{ page.podcast_list_title }}
            </div>
            <iframe src="{{ page.podcast_iframe_url }}" width="100%" height="400px" frameborder="0"
                class="spreaker-player" id="spreaker-player-495724"></iframe>
            <div class="d-flex justify-content-between align-items-center miscellaneous-more">
                <hr class="divider">
                <a href="{{ page.podcast_iframe_url }}" class="more-info-button-large">{{ page.podcats_button_title }}</a>
            </div>
        </div>
        {% endif %}

    </div>
</div>

{% if page.events_list %}
<div class="container mt-5">
    <div class="title-page">
        {{ page.events_list_title }}
    </div>
    {# events and citizen spaces are defined in MME\templates\blocks\events_citizen_spaces.html #}
    {% include "blocks/events_citizen_spaces.html" with parent=site_root calling_page=self %}
</div>
{% endif %}

<div class="container mt-5" data-aos="fade-up" data-aos-delay="100">
    <div class="title-page">
        {{ page.social_networks_title }}
    </div>

    <div class="wrapper-social-networks">
        <div class="header-social-networks">
            <div class="row">
                {% for element in page.social_networks %}
                    {% if forloop.counter0 == 0 %}
                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-3 network-item active"
                            data-bs-target="network{{ forloop.counter0 }}">
                            {% if element.value.text %}
                                <div class="d-flex justify-content-center align-items-center mt-4">
                                    <svg class="network-svg">
                                        <image xlink:href="{{ element.value.icono.url }}" />
                                    </svg>
                                </div>
                                <div class="d-flex justify-content-center align-items-center mt-3">
                                    <h5 class="network-tilte">{{ element.value.title }}</h5>
                                </div>
                            {% else %}
                                <a href="{{ element.value.external_url }}">
                                    <div class="d-flex justify-content-center align-items-center mt-4">
                                        <svg class="network-svg">
                                            <image xlink:href="{{ element.value.icono.url }}" />
                                        </svg>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center mt-3">
                                        <h5 class="network-tilte">{{ element.value.title }}</h5>
                                    </div>
                                </a>
                            {% endif %}
                        </div>

                        {% if element.value.text %}
                        <div class="content-social-networks-movil">
                            <div class="content-network active" id="movilnetwork{{ forloop.counter0 }}">
                                {{ element.value.text|safe }}
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                    {% if forloop.counter0 > 0 %}
                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-3 network-item"
                            data-bs-target="network{{ forloop.counter0 }}">
                            {% if element.value.text %}
                                <div class="d-flex justify-content-center align-items-center mt-4">
                                    <svg class="network-svg">
                                        <image xlink:href="{{ element.value.icono.url }}" />
                                    </svg>
                                </div>
                                <div class="d-flex justify-content-center align-items-center mt-3">
                                    <h5 class="network-tilte">{{ element.value.title }}</h5>
                                </div>
                            {% else %}
                                <a href="{{ element.value.external_url }}">
                                    <div class="d-flex justify-content-center align-items-center mt-4">
                                        <svg class="network-svg">
                                            <image xlink:href="{{ element.value.icono.url }}" />
                                        </svg>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center mt-3">
                                        <h5 class="network-tilte">{{ element.value.title }}</h5>
                                    </div>
                                </a>
                            {% endif %}
                            
                        </div>
                        {% if element.value.text %}
                        <div class="content-social-networks-movil">
                            <div class="content-network" id="movilnetwork{{ forloop.counter0 }}">
                                {{ element.value.text|safe }}
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </div>
        </div>
        <div class="content-social-networks">
            {% for element in page.social_networks %}
                {% if element.value.text %}
                    {% if forloop.counter0 == 0 %}
                        <div class="content-network active" id="network{{ forloop.counter0 }}">
                            {{ element.value.text|safe }}
                        </div>
                    {% else %}
                        <div class="content-network " id="network{{ forloop.counter0 }}">
                            {{ element.value.text|safe }}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>



</div>



{% endblock content %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
<script type="text/javascript" src="{% static 'js/press_room.js' %}"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    AOS.init();
</script>
{% endblock extra_js %}