.hight-contrast {
  -webkit-filter: invert(1);
  filter: invert(1);
  background-color: #fff;
}

.font-size-xx-small {
  font-size: xx-small;
}
.font-size-x-small {
  font-size: x-small;
}
.font-size-small {
  font-size: small;
}
.font-size-large {
  font-size: large;
}
.font-size-x-large {
  font-size: x-large;
}
.font-size-xx-large {
  font-size: xx-large;
}

.accessibility-option-icon {
  width: 32px;
  height: 32px;
}
.accessibility-option {
  cursor: pointer;
}
.accessibility-option:hover {
  background-color: var(--mme-green);
  color: white;
}

.tool-box-header {
  margin-top: 5px;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.tool-box-header:hover {
  filter: var(--mme-green-filter);
}
.btn-tool-box-header {
  border: 1px solid transparent;
  background-color: transparent;
  width: 32px;
  height: 32px;
}
.btn-tool-box-options {
  border: 1px solid transparent;
  background-color: transparent;
}

.navbar-form {
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
}
.search-field {
  border-radius: 10px;
  flex-grow: 2;
  border: none;
}

.search-field:focus {
  outline: none;
}
.search-button {
  background-color: var(--mme-gray);
  border-radius: 9px;
  border: none;
  color: white;
}
.btn-group {
  float: right;
}
