{% extends "base.html" %}
{% load static wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
<link href="{% static 'css/aos.css' %}" rel="stylesheet" />
<link href="{% static 'css/swiper/swiper-bundle.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/swiper/swiper-caracterizacion-usuarios.css' %}" rel="stylesheet" />

{% endblock extra_css %}


{% block content %}

<div class="container">
    <strong class="title-page-special">{{ page.title }}</strong>
</div>

{% if page.elements_list %}
<div class="container">
    <div class="wrapper-icon-menu-mme">
        <div class="icon-menu-mme-header">
            <div class="row icon-menu-mme-options">
                {% for element in page.elements_list %}
                {% if forloop.counter0 == 0 %}
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-12 col-sm-12 mt-3 icon-menu-mme-option active" data-bs-target="icon-menu-mme-option-{{ forloop.counter0 }}">
                {% else %}
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-12 col-sm-12 mt-3 icon-menu-mme-option" data-bs-target="icon-menu-mme-option-{{ forloop.counter0 }}">
                {% endif %}
                    <div class="d-flex justify-content-center align-items-center mt-4">
                        <svg class="icon-menu-mme-option-svg">
                            <image xlink:href="{{ element.value.icono.url }}" />
                        </svg>
                    </div>
                    <div class="d-flex justify-content-center align-items-center mt-3">
                        <h5 class="icon-menu-mme-option-title">{{ element.value.title }}</h5>
                    </div>
                </div>

                <div class="icon-menu-mme-option-mobil-content">
                    {% with parentID=forloop.counter0 %}
                    {% if forloop.counter0 == 0 %}
                    <div class="icon-menu-mme-option-content active" id="icon-menu-mme-option-{{ forloop.counter0 }}-mobil">
                    {% else %}
                    <div class="icon-menu-mme-option-content" id="icon-menu-mme-option-{{ forloop.counter0 }}-mobil">
                    {% endif %}
                    <div class="title-page text-start">
                        {{ element.value.title }}
                    </div>
<div class="container">
                    <div class="row">
                        <div class="col-xxl-2 col-xl-6 col-lg-12 col-md-12 col-sm-12 text-start">
                            <div class="icon-menu-mme-option-content-description">
                                {{ element.value.description }}
                            </div>
                        </div>

                        <div class="col-xxl-8 col-xl-6 col-lg-12 col-md-12 col-sm-12">
                            {% if element.value.subitems|length > 1 %}
                            <div class="swiper-container-mme ">
                                <div class="swiper-container mme-swiper-{{ forloop.counter0 }}">
                                    <div class="swiper-wrapper">
                                        {% for subitem in element.value.subitems %}
                                        <div class="swiper-slide">
                                            <a href="{{ subitem.document.url }}">
                                                {% image subitem.image original as subitem_image %}
                                                <img src="{{ subitem_image.url }}" class="slider-card-img">
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="swiper-button-next btn-next-{{ forloop.counter0 }}">
                                    <i class="bi bi-chevron-compact-right swiper-button-icon"></i>
                                </div>
                                <div class="swiper-button-prev btn-prev-{{ forloop.counter0 }}">
                                    <i class="bi bi-chevron-compact-left swiper-button-icon"></i>
                                </div>
                            </div>
                            {% else %}
                                {% for subitem in element.value.subitems %}
                                    <a href="{{ subitem.document.url }}">
                                        {% image subitem.image original as subitem_image %}
                                        <img src="{{ subitem_image.url }}" class="slider-card-img">
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            {% if element.value.taps|length > 0 %}
                            <nav class="mme-taps">
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                {% for tap in element.value.taps %}
                                    {% if forloop.counter0 == 0 %}
                                        <button class="nav-link active" id="tab-{{ parentID }}{{ forloop.counter0 }}" data-bs-toggle="tab" data-bs-target="#tap{{ parentID }}{{ forloop.counter0 }}" type="button"
                                        role="tab" aria-controls="tramites" aria-selected="true">
                                    {% else %}
                                        <button class="nav-link" id="tab-{{ parentID }}{{ forloop.counter0 }}" data-bs-toggle="tab" data-bs-target="#tap{{ parentID }}{{ forloop.counter0 }}" type="button"
                                        role="tab" aria-controls="medicion" aria-selected="false">
                                    {% endif %}
                                        <div class="d-flex align-items-center justify-content-center lh-sm">{{ tap.name }}</div>
                                        </button>
                                {% endfor %}
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-content" id="nav-tabContent">
                                    {% for tap in element.value.taps %}
                                        {% if forloop.counter0 == 0 %}
                                        <div class="tab-pane fade show active" id="tap{{ parentID }}{{ forloop.counter0 }}" role="tabpanel" aria-labelledby="tap{{ parentID }}{{ forloop.counter0 }}">
                                        {% else %}
                                        <div class="tab-pane fade" id="tap{{ parentID }}{{ forloop.counter0 }}" role="tabpanel" aria-labelledby="tap{{ parentID }}{{ forloop.counter0 }}">
                                        {% endif %}
                                        <div class="mme-taps-content">{{ tap.description }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    </div>
</div>
                    {% endwith %}
                </div>

                {% endfor %}

            </div>

        </div>
        <div class="icon-menu-mme-container">
            {% for element in page.elements_list %}
            {% with parentID=forloop.counter0 %}
            {% if forloop.counter0 == 0 %}
            <div class="icon-menu-mme-option-content active" id="icon-menu-mme-option-{{ forloop.counter0 }}">
            {% else %}
            <div class="icon-menu-mme-option-content" id="icon-menu-mme-option-{{ forloop.counter0 }}">
            {% endif %}
            <div class="title-page text-start">
                {{ element.value.title }}
            </div>
<div class="container">
            <div class="row">
                <div class="col-xxl-4 col-xl-6 col-lg-12 col-md-12 col-sm-12 text-start">
                    <div class="icon-menu-mme-option-content-description">
                        {{ element.value.description }}
                    </div>
                </div>

                <div class="col-xxl-8 col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    {% if element.value.subitems|length > 1 %}
                    <div class="swiper-container-mme ">
                        <div class="swiper-container mme-swiper-{{ forloop.counter0 }}">
                            <div class="swiper-wrapper">
                                {% for subitem in element.value.subitems %}
                                <div class="swiper-slide">
                                    <a href="{{ subitem.document.url }}">
                                        {% image subitem.image original as subitem_image %}
                                        <img src="{{ subitem_image.url }}" class="slider-card-img">
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="swiper-button-next btn-next-{{ forloop.counter0 }}">
                            <i class="bi bi-chevron-compact-right swiper-button-icon"></i>
                        </div>
                        <div class="swiper-button-prev btn-prev-{{ forloop.counter0 }}">
                            <i class="bi bi-chevron-compact-left swiper-button-icon"></i>
                        </div>
                    </div>
                    {% else %}
                        {% for subitem in element.value.subitems %}
                            <a href="{{ subitem.document.url }}">
                                {% image subitem.image original as subitem_image %}
                                <img src="{{ subitem_image.url }}" class="slider-card-img">
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    {% if element.value.taps|length > 0 %}
                    <nav class="mme-taps">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          {% for element in element.value.taps %}
                            {% if forloop.counter0 == 0 %}
                              <button class="nav-link show active" id="services-tab-{{ forloop.counter0 }}" data-bs-toggle="tab" data-bs-target="#tap{{ forloop.counter0 }}" type="button"
                              role="tab" aria-controls="tramites" aria-selected="true">
                              <div class="d-flex align-items-center justify-content-center lh-sm">{{ element.name }}</div>
                              </button>
                            {% else %}
                              <button class="nav-link" id="services-tab-{{ forloop.counter0 }}" data-bs-toggle="tab" data-bs-target="#tap{{ forloop.counter0 }}" type="button"
                                role="tab" aria-controls="medicion" aria-selected="false">
                                <div class="d-flex align-items-center justify-content-center lh-sm">{{ element.name }}</div>
                              </button>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </nav>
                      <div class="tab-content" id="nav-tabContent">
                        {% for element in element.value.taps %}
                            {% if forloop.counter0 == 0 %}
                              <div class="tab-pane fade show show active" id="tap{{ forloop.counter0 }}" role="tabpanel" aria-labelledby="tap{{ forloop.counter0 }}">
                            {% else %}
                              <div class="tab-pane fade" id="tap{{ forloop.counter0 }}" role="tabpanel" aria-labelledby="tap{{ forloop.counter0 }}">
                            {% endif %}
                                <div class="mme-taps-content">{{ element.description }}</div>
                              </div>
                        {% endfor %}
                      </div>
                    </div>
                    {% endif %}
                </div>
            </div>
</div>
            </div>

            {% endwith %}
            {% endfor %}


        </div>
    </div>
</div>
</div>
</div>
</div>



{% endif %}


{% endblock content %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
<script type="text/javascript" src="{% static 'js/swiper/swiper-bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/swiper/swiper-caracterizacion-usuarios.js' %}"></script>
<script type="text/javascript" src="{% static 'js/icon-menu-caracterizacion-usuarios.js' %}"></script>
<script>
    AOS.init();
</script>

{% endblock extra_js %}
