{% extends "base.html" %}
{% load static wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
<link href="{% static 'css/aos.css' %}" rel="stylesheet" />
{% endblock extra_css %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5  animate__animated animate__zoomIn">
            <div class="ps-5 pe-5 intro-section">
                <strong class="title-page-special">{{ page.intro_title }}</strong>
                <p>{{ page.intro|safe }}</p>
            </div>
        </div>
        {% if page.link_video != None and page.link_video|length > 0 %}
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7  animate__animated animate__zoomIn">
            <div>
                <iframe src="{{ page.link_video }}" frameborder="0" height="550" width="100%" allowfullscreen></iframe>
            </div>
        </div>
        {% else %}
        {% image page.image fill-1089x776 as intro_image %}
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7 animate__animated animate__zoomIn ">
            <img class="img-fluid" src="{{ intro_image.url }}">
        </div>
        {% endif %}
    </div>
</div>

{% if page.plans_list %}
  <div class="container mt-4" data-aos="fade-up" data-aos-delay="100">
    <div class="title-page">
      {{ page.plans_list_title }}
    </div>
    <nav class="mme-taps">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        {% for element in page.plans_list %}
          {% if forloop.counter0 == 0 %}
            <button class="nav-link active" id="plans-tab-{{ forloop.counter0 }}" data-bs-toggle="tab" data-bs-target="#plans-tap{{ forloop.counter0 }}" type="button" role="tab" aria-controls="tramites" aria-selected="true">
          {% else %}
            <button class="nav-link" id="plans-tab-{{ forloop.counter0 }}" data-bs-toggle="tab" data-bs-target="#plans-tap{{ forloop.counter0 }}" type="button"
              role="tab" aria-controls="medicion" aria-selected="false">
          {% endif %}
              <div class="d-flex align-items-center justify-content-center lh-sm">{{ element.value.title }}</div>
            </button>
        {% endfor %}
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      {% for element in page.plans_list %}
          {% if forloop.counter0 == 0 %}
            <div class="tab-pane fade show active" id="plans-tap{{ forloop.counter0 }}" role="tabpanel" aria-labelledby="plans-tap{{ forloop.counter0 }}">
          {% else %}
            <div class="tab-pane fade" id="plans-tap{{ forloop.counter0 }}" role="tabpanel" aria-labelledby="plans-tap{{ forloop.counter0 }}">
          {% endif %}
            <p class="mt-4">{{ element.value.description }}</p>
            {% if element.value.url %}
              <a href="{{ element.value.url }}">Mas información (+)</a>
              {% endif %}
          </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if page.reports_list %}
  <div class="container mt-4" data-aos="fade-up" data-aos-delay="100">
    <div class="title-page">
      {{ page.reports_list_title}}
    </div>
    <nav class="mme-taps">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        {% for element in page.reports_list %}
          {% if forloop.counter0 == 0 %}
            <button class="nav-link active" id="reports-tab-{{ forloop.counter0 }}" data-bs-toggle="tab" data-bs-target="#reports-tap{{ forloop.counter0 }}" type="button" role="tab" aria-controls="tramites" aria-selected="true">
          {% else %}
            <button class="nav-link" id="reports-tab-{{ forloop.counter0 }}" data-bs-toggle="tab" data-bs-target="#reports-tap{{ forloop.counter0 }}" type="button" role="tab" aria-controls="medicion" aria-selected="false">
          {% endif %}
              <div class="d-flex align-items-center justify-content-center lh-sm">{{ element.value.title }}</div>
            </button>
        {% endfor %}
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      {% for element in page.reports_list %}
          {% if forloop.counter0 == 0 %}
            <div class="tab-pane fade show active" id="reports-tap{{ forloop.counter0 }}" role="tabpanel" aria-labelledby="reports-tap{{ forloop.counter0 }}">
          {% else %}
            <div class="tab-pane fade" id="reports-tap{{ forloop.counter0 }}" role="tabpanel" aria-labelledby="reports-tap{{ forloop.counter0 }}">
          {% endif %}
              <p class="mt-4">{{ element.value.description }}</p>
              {% if element.value.url %}
              <a href="{{ element.value.url }}">Mas información (+)</a>
              {% endif %}
            </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if page.elements_list %}
  <div class="container mt-5">
    <div class="title-page">
      {{ page.elements_list_title }}
    </div>

    <div class="row mme-item-card-content ms-1">
      {% for element in page.elements_list %}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-2 gy-4 mme-item-card">
          <div data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">
            {% if element.value.subitems %}
              <a data-bs-toggle="modal" data-bs-target="#Modal{{ forloop.counter0 }}">
                <div>
                    <svg class="mme-item-card-icon rounded mx-auto d-block">
                        <image xlink:href="{{ element.value.icono.url }}" />
                    </svg>
                </div>
                <div class="mme-item-text-content">
                  <p class="text-center mme-item-card-text  lh-1 ">
                      {{ element.value.title }}
                  </p>
                </div>
              </a>
            {% elif element.value.document.url %}
              <a href="{{ element.value.document.url }}" class="remove-a-styles">
                <div>
                    <svg class="mme-item-card-icon rounded mx-auto d-block">
                        <image xlink:href="{{ element.value.icono.url }}" />
                    </svg>
                </div>
                <div class="mme-item-text-content">
                  <p class="text-center mme-item-card-text  lh-1 ">
                      {{ element.value.title }}
                  </p>
                </div>
              </a>
            {% elif element.value.url %}
              <a href="{{ element.value.url }}" class="remove-a-styles">
                <div>
                    <svg class="mme-item-card-icon rounded mx-auto d-block">
                        <image xlink:href="{{ element.value.icono.url }}" />
                    </svg>
                </div>
                <div class="mme-item-text-content">
                  <p class="text-center mme-item-card-text  lh-1 ">
                      {{ element.value.title }}
                  </p>
                </div>
              </a>      
            {% else %}   
              <a data-bs-toggle="modal" data-bs-target="#Modal{{ forloop.counter0 }}">
                <div>
                    <svg class="mme-item-card-icon rounded mx-auto d-block">
                        <image xlink:href="{{ element.value.icono.url }}" />
                    </svg>
                </div>
                <div class="mme-item-text-content">
                  <p class="text-center mme-item-card-text  lh-1 ">
                      {{ element.value.title }}
                  </p>
                </div>
              </a>    
            {% endif %}  
          </div>
        </div>
      {% endfor %}
        
      <!-- Modal -->
      {% for element in page.link_list %}
        {% if element.value.url == None and element.value.document.url == None %}
          <div class="modal fade" id="Modal{{ forloop.counter0 }}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content" style="background-color: var(--mme-blue);color:white">
                <div class="modal-header">
                  <h5 class="modal-title text-center" id="exampleModalLabel">
                    {{ element.value.title }}
                  </h5>
                  <button type="button" class="btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="background-color: white;color:black">
                  <p class="fs-5">
                    {{ element.value.description }}
                  </p>
                  {% if element.value.subitems %}
                    <div class="list-group">
                      {% for subitems in element.value.subitems %}
                        {% if subitems.url %}
                          <a class="list-group-item list-group-item-action" href="{{ subitems.url }}">{{ subitems.name }}</a>
                        {% elif subitems.document.url %}  
                          <a class="list-group-item list-group-item-action" href="{{ subitems.document.url }}">{{ subitems.name }}</a>
                        {% else %}
                          <a class="list-group-item list-group-item-action">{{ subitems.name }}</a>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      <!-- Modal -->
    </div>
  </div>
{% endif %}


{% if page.management_list %}
  <div class="container mt-4" data-aos="fade-up" data-aos-delay="100">
    <div class="title-page">
      {{ page.management_list_title}}
    </div>
    <div class="mt-4">{{ page.management_intro|safe }}</div>
    <nav class="mme-taps">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        {% for element in page.management_list%}
          {% if forloop.counter0 == 0 %}
            <button class="nav-link active" id="management-tab-{{ forloop.counter0 }}" data-bs-toggle="tab" data-bs-target="#management-tap{{ forloop.counter0 }}" type="button" role="tab" aria-controls="tramites" aria-selected="true">
          {% else %}
            <button class="nav-link" id="management-tab-{{ forloop.counter0 }}" data-bs-toggle="tab" data-bs-target="#management-tap{{ forloop.counter0 }}" type="button" role="tab" aria-controls="medicion" aria-selected="false">
          {% endif %}
              <div class="d-flex align-items-center justify-content-center lh-sm">{{ element.value.title }}</div>
            </button>
        {% endfor %}
      </div>
    </nav>
    <div class="tab-content" id="management-nav-tabContent">
      {% for element in page.management_list %}
          {% if forloop.counter0 == 0 %}
            <div class="tab-pane fade show active" id="management-tap{{ forloop.counter0 }}" role="tabpanel" aria-labelledby="management-tap{{ forloop.counter0 }}">
          {% else %}
            <div class="tab-pane fade" id="management-tap{{ forloop.counter0 }}" role="tabpanel" aria-labelledby="management-tap{{ forloop.counter0 }}">
          {% endif %}
              <p class="mt-4">{{ element.value.description }}</p>
              {% if element.value.url %}
              <a href="{{ element.value.url }}">Mas información (+)</a>
              {% endif %}
            </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

    {% endblock content %}
    {% block extra_js %}
    <script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
    <script>
        AOS.init();
    </script>
    {% endblock extra_js %}