{% extends "base.html" %}
{% load static wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
<link href="{% static 'css/aos.css' %}" rel="stylesheet" />
<link href="{% static 'css/contratacion-accordion.css' %}" rel="stylesheet" />
{% endblock extra_css %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 animate__animated animate__zoomIn">
      <div class="intro-section">
        <strong class="title-page-special">{{ page.title }}</strong>
      </div>
      <div>
        {{ page.intro|safe }}
      </div>
    </div>
  </div>
</div>


{% if page.link_list %}
<div class="container mt-2">
  <div class="row mme-item-card-content ms-1">
    {% for element in page.link_list %}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-2 gy-4 mme-item-card d-flex align-items-center">
      <div data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate m-auto">
        {% if element.value.subitems %}
        <a data-bs-toggle="modal" data-bs-target="#Modal{{ forloop.counter0 }}">
          {% elif element.value.document.url %}
          <a href="{{ element.value.document.url }}" class="remove-a-styles">
            {% elif element.value.url %}
            <a href="{{ element.value.url }}" class="remove-a-styles">
              {% else %}
              <a data-bs-toggle="modal" data-bs-target="#Modal{{ forloop.counter0 }}">
                {% endif %}
                <div>
                  {% if element.value.icono.url %}
                  <svg class="mme-item-card-icon rounded mx-auto d-block">
                    <image xlink:href="{{ element.value.icono.url }}" />
                  </svg>
                  {% else %}
                  {% image element.value.image original as intro_image %}
                  <img src="{{ intro_image.url }}" alt="{{ page.alt_text }}" class="img-fluid my-5">
                  {% endif %}
                </div>
                <div class="mme-item-text-content">
                  <p class="text-center mme-item-card-text  lh-1 ">
                    {{ element.value.title }}
                  </p>
                </div>
              </a>
      </div>
    </div>
    {% endfor %}

    <!-- Modal -->
    {% for element in page.link_list %}
    {% if element.value.url == None and element.value.document.url == None %}
    <div class="modal fade" id="Modal{{ forloop.counter0 }}" tabindex="-1" aria-labelledby="ModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content" style="background-color: var(--mme-blue);color:white">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="exampleModalLabel">
              {{ element.value.title }}
            </h5>
            <button type="button" class="btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="background-color: white;color:black">
            <p class="fs-5">
              {{ element.value.description }}
            </p>
            {% if element.value.subitems %}
            <div class="list-group">
              {% for subitems in element.value.subitems %}
              {% if subitems.url %}
              <a class="list-group-item list-group-item-action" href="{{ subitems.url }}">{{ subitems.name }}</a>
              {% elif subitems.document.url %}
              <a class="list-group-item list-group-item-action" href="{{ subitems.document.url }}">{{ subitems.name
                }}</a>
              {% else %}
              <a class="list-group-item list-group-item-action">{{ subitems.name }}</a>
              {% endif %}
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <!-- Modal -->
  </div>
</div>
{% endif %}

{% if page.data_list %}
{% for block in page.data_list %}
{% with parentID=forloop.counter0 %}
<div class="container mt-4" data-aos="fade-up" data-aos-delay="100">
  {% if block.value.caption %}
  <div class="title-page">
    {{ block.value.caption }}
  </div>
  {% endif %}
  <div class="row align-items-center link-section-container" data-aos="fade-up" data-aos-delay="100">
    <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1 col-xxl-1 ">
      <img src="{{ block.value.icono.url }}" class="rounded mx-auto d-block" style="width:150px">
    </div>
    <div class="col-sm-12 col-md-9 col-lg-9 col-xl-10 col-xxl-10 ms-5">
      <div class="">
        {{ block.value.main_description|safe }}
      </div>

    </div>
  </div>
</div>
{% endwith %}
{% endfor %}
{% endif %}

{% if page.historical_list%}
{% for block in page.historical_list%}
{% with parentID=forloop.counter0 %}
<div class="container mt-4" data-aos="fade-up" data-aos-delay="100">
  <div class="title-page">
    {{ block.value.title }}
  </div>
  <div class="accordion container" id="accordion{{ parentID }}">
    {% for element in block.value.subitems %}
    {% if forloop.counter0 == 0 %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ parentID }}{{ forloop.counter0 }}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse{{ parentID }}{{ forloop.counter0 }}" aria-expanded="true" aria-controls="tramites">
          {{ element.title }}
        </button>
      </h2>
      <div id="collapse{{ parentID }}{{ forloop.counter0 }}" class="accordion-collapse collapse show left-dotted-border"
        aria-labelledby="heading{{ parentID }}{{ forloop.counter0 }}" data-bs-parent="#accordion{{ parentID }}">
        <div class="accordion-body ">
          <div class="row m-0 p-0">
            {{ element.description|safe }}
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ parentID }}{{ forloop.counter0 }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse{{ parentID }}{{ forloop.counter0 }}" aria-expanded="false"
          aria-controls="collapseThree">
          {{ element.title }}
        </button>
      </h2>
      <div id="collapse{{ parentID }}{{ forloop.counter0 }}" class="accordion-collapse collapse left-dotted-border"
        aria-labelledby="heading{{ parentID }}{{ forloop.counter0 }}" data-bs-parent="#accordion{{ parentID }}">
        <div class="accordion-body">
          <div class="row m-0 p-0">
            {{ element.description|safe }}
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% endfor %}
  </div>
</div>
{% endwith %}
{% endfor %}
{% endif %}

{% endblock content %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mmeoptionsmenu.js' %}"></script>
<script>
  AOS.init();
</script>

{% endblock extra_js %}