{% extends "base.html" %}
{% load static wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
<link href="{% static 'css/aos.css' %}" rel="stylesheet" />
<link href="{% static 'css/auditoria-interna-accordion.css' %}" rel="stylesheet" />
{% endblock extra_css %}


{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5 small-order-1 animate__animated animate__zoomIn">
            <div class="ps-md-5 pe-md-5 intro-section">
                <strong class="title-page-special">{{ page.intro_title }}</strong>
                {{ page.intro|safe }}
            </div>
        </div>
        {% if page.link_video != None and page.link_video|length > 0 %}
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7 small-order-2 animate__animated animate__zoomIn">
            <div class="video-responsive">
                <iframe src="{{ page.link_video }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        {% else %}
        {% image page.image original as intro_image %}
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7 small-order-2 animate__animated animate__zoomIn">
          <div class="video-ajustable">
          <iframe src="{% static 'infograf/ministerio/planes_programas/planes_programas.html' %}" width="100%" height="200px" scrolling="no"></iframe>
          </div>
          <!--<img class="img-fluid " src="{{ intro_image.url }}" alt="{{ page.alt_text }}">!-->
        </div>
        {% endif %}

    </div>
</div>

{% if page.objetive_list %}
<div class="container mt-5">
    <div class="title-page">
        {{ page.objetive_title }}
    </div>
    <div>
        {{ page.objetive_intro|safe }}
    </div>
    <div class="row mme-item-card-content ms-1">
        {% for element in page.objetive_list %}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-2 gy-4 mme-item-card">
            <div data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">
                {% if element.value.subitems %}
                <a data-bs-toggle="modal" data-bs-target="#Modal{{ forloop.counter0 }}">
                    <div>
                        <svg class="mme-item-card-icon rounded mx-auto d-block">
                            <image xlink:href="{{ element.value.icono.url }}" />
                        </svg>
                    </div>
                    <div class="mme-item-text-content">
                        <p class="text-center mme-item-card-text  lh-1 ">
                            {{ element.value.title }}
                        </p>
                    </div>
                </a>
                {% elif element.value.document.url %}
                <a href="{{ element.value.document.url }}" class="remove-a-styles">
                    <div>
                        <svg class="mme-item-card-icon rounded mx-auto d-block">
                            <image xlink:href="{{ element.value.icono.url }}" />
                        </svg>
                    </div>
                    <div class="mme-item-text-content">
                        <p class="text-center mme-item-card-text  lh-1 ">
                            {{ element.value.title }}
                        </p>
                    </div>
                </a>
                {% elif element.value.url %}
                <a href="{{ element.value.url }}" class="remove-a-styles">
                    <div>
                        <svg class="mme-item-card-icon rounded mx-auto d-block">
                            <image xlink:href="{{ element.value.icono.url }}" />
                        </svg>
                    </div>
                    <div class="mme-item-text-content">
                        <p class="text-center mme-item-card-text  lh-1 ">
                            {{ element.value.title }}
                        </p>
                    </div>
                </a>
                {% else %}
                <a data-bs-toggle="modal" data-bs-target="#Modal{{ forloop.counter0 }}">
                    <div>
                        <svg class="mme-item-card-icon rounded mx-auto d-block">
                            <image xlink:href="{{ element.value.icono.url }}" />
                        </svg>
                    </div>
                    <div class="mme-item-text-content">
                        <p class="text-center mme-item-card-text  lh-1 ">
                            {{ element.value.title }}
                        </p>
                    </div>
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <!-- Modal -->
        {% for element in page.objetive_list %}
        {% if element.value.url == None and element.value.document.url == None %}
        <div class="modal fade" id="Modal{{ forloop.counter0 }}" tabindex="-1" aria-labelledby="ModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content" style="background-color: var(--mme-blue);color:white">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLabel">
                            {{ element.value.title }}
                        </h5>
                        <button type="button" class="btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="background-color: white;color:black">
                        <p class="fs-5">
                            {{ element.value.description }}
                        </p>
                        {% if element.value.subitems %}
                        <div class="list-group">
                            {% for subitems in element.value.subitems %}
                            {% if subitems.url %}
                            <a class="list-group-item list-group-item-action" href="{{ subitems.url }}">{{ subitems.name }}</a>
                            {% elif subitems.document.url %}
                            <a class="list-group-item list-group-item-action" href="{{ subitems.document.url }}">{{ subitems.name }}</a>
                            {% else %}
                            <a class="list-group-item list-group-item-action">{{ subitems.name }}</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <!-- Modal -->
    </div>
</div>
{% endif %}

{% if page.plans_list %}
<div class="container mt-4" data-aos="fade-up" data-aos-delay="100">
    <div class="title-page">
        {{ page.plans_title }}
    </div>


    <form id="formSearch" class="navbar-form my-4 border ps-2" role="search">
        <div class="input-group">
            <input id="inputSearch" type="text" class="rounded-end search-field" placeholder="Búsqueda" name="q">
            <button class="btn btn-default rounded-start search-button" type="submit"><i class="bi bi-search"></i></button>
        </div>
    </form>

    <div id="result-programs"></div>


    <div class="wrapper-mme-menu planes-programas">
        <div class="mme-menu-options">
            {% for element in page.plans_list %}
            {% with parentID=forloop.counter0 %}
            {% if forloop.counter0 == 0 %}
            <div class="mme-menu-option active" data-bs-target="content_item{{ forloop.counter0 }}">
                {{ element.value.caption }}
            </div>
            <div class="mme-menu-content-movil">
                <div class="mme-menu-content-item active" id="movilcontent_item{{ forloop.counter0 }}">
                    <div class="row ">
                        <div class="col-sm-12 col-md-12">
                            <strong class="content-item-title lh-sm text-start">{{ element.value.caption }}</strong>
                        </div>

                        <div class="accordion container" id="mobil-accordion{{ forloop.counter0 }}">
                            {% for subitem in element.value.subitems %}
                                {% if forloop.counter0 == 0 %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="mobil-heading{{ parentID }}{{ forloop.counter0 }}">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse{{ parentID }}{{ forloop.counter0 }}" aria-expanded="true"
                                            aria-controls="tramites">
                                            <div class="d-flex align-items-center justify-content-center lh-sm">{{ subitem.title }}</div>
                                        </button>
                                    </h2>
                                    <div id="collapse{{ parentID }}{{ forloop.counter0 }}" class="accordion-collapse collapse show"
                                        aria-labelledby="mobil-heading{{ parentID }}{{ forloop.counter0 }}" data-bs-parent="#accordion{{ parentID }}">
                                        <div class="accordion-body">
                                            <h4>{{ subitem.subtitle }}</h4>
                                            {% for documents in subitem.documents_block %}
                                            <strong>{{ documents.title }}</strong>
                                            <ul>
                                                {% for document in documents.documents %}
                                                    <li><a href="{{ document.document.url }}">{{ document.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            {% endfor %}
                                        </div>
                                        <div class="collapse-btn-green">
                                            <a class="btn-green" href="{{ subitem.page.url }}">Años anteriores</a>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="mobil-heading{{ parentID }}{{ forloop.counter0 }}">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse{{ parentID }}{{ forloop.counter0 }}" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            <div class="d-flex align-items-center justify-content-center lh-sm">{{ subitem.title }}</div>
                                        </button>
                                    </h2>
                                    <div id="collapse{{ parentID }}{{ forloop.counter0 }}" class="accordion-collapse collapse"
                                        aria-labelledby="mobil-heading{{ parentID }}{{ forloop.counter0 }}" data-bs-parent="#accordion{{ parentID }}">
                                        <div class="accordion-body">
                                            <h4>{{ subitem.subtitle }}</h4>
                                            {% for documents in subitem.documents_block %}
                                            <strong>{{ documents.title }}</strong>
                                            <ul>
                                                {% for document in documents.documents %}
                                                    <li><a href="{{ document.document.url }}">{{ document.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            {% endfor %}
                                        </div>
                                        <div class="collapse-btn-green">
                                            <a class="btn-green" href="{{ subitem.page.url }}">Años anteriores</a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
            {% else %}
            <div class="mme-menu-option" data-bs-target="content_item{{ forloop.counter0 }}">
                {{ element.value.caption }}
            </div>
            <div class="mme-menu-content-movil">
                <div class="mme-menu-content-item" id="movilcontent_item{{ forloop.counter0 }}">
                    <div class="row ">
                        <div class="col-sm-12 col-md-12">
                            <strong class="content-item-title lh-sm text-start">{{ element.value.caption }}</strong>
                        </div>

                        <div class="accordion container" id="mobil-accordion{{ forloop.counter0 }}">
                            {% for subitem in element.value.subitems %}
                                {% if forloop.counter0 == 0 %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="mobil-heading{{ parentID }}{{ forloop.counter0 }}">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse{{ parentID }}{{ forloop.counter0 }}" aria-expanded="true"
                                            aria-controls="tramites">
                                            <div class="d-flex align-items-center justify-content-center lh-sm">{{ subitem.title }}</div>
                                        </button>
                                    </h2>
                                    <div id="collapse{{ parentID }}{{ forloop.counter0 }}" class="accordion-collapse collapse show"
                                        aria-labelledby="mobil-heading{{ parentID }}{{ forloop.counter0 }}" data-bs-parent="#accordion{{ parentID }}">
                                        <div class="accordion-body">
                                            <h4>{{ subitem.subtitle }}</h4>
                                            {% for documents in subitem.documents_block %}
                                            <strong>{{ documents.title }}</strong>
                                            <ul>
                                                {% for document in documents.documents %}
                                                    <li><a href="{{ document.document.url }}">{{ document.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            {% endfor %}
                                        </div>
                                        <div class="collapse-btn-green">
                                            <a class="btn-green" href="{{ subitem.page.url }}">Años anteriores</a>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="mobil-heading{{ parentID }}{{ forloop.counter0 }}">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse{{ parentID }}{{ forloop.counter0 }}" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            <div class="d-flex align-items-center justify-content-center lh-sm">{{ subitem.title }}</div>
                                        </button>
                                    </h2>
                                    <div id="collapse{{ parentID }}{{ forloop.counter0 }}" class="accordion-collapse collapse"
                                        aria-labelledby="mobil-heading{{ parentID }}{{ forloop.counter0 }}" data-bs-parent="#accordion{{ parentID }}">
                                        <div class="accordion-body">
                                            <h4>{{ subitem.subtitle }}</h4>
                                            {% for documents in subitem.documents_block %}
                                            <strong>{{ documents.title }}</strong>
                                            <ul>
                                                {% for document in documents.documents %}
                                                    <li><a href="{{ document.document.url }}">{{ document.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            {% endfor %}
                                        </div>
                                        <div class="collapse-btn-green">
                                            <a class="btn-green" href="{{ subitem.page.url }}">Años anteriores</a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
            {% endif %}
            {% endwith %}
            {% endfor %}

        </div>
        <div class="mme-menu-content ">
            {% for element in page.plans_list %}
            {% with parentID=forloop.counter0 %}
            {% if forloop.counter0 == 0 %}
            <div class="mme-menu-content-item active" id="content_item{{ forloop.counter0 }}">
                <div class="row ">
                    <div class="col-sm-12 col-md-12">
                        <strong class="content-item-title lh-sm text-start">{{ element.value.caption }}</strong>
                    </div>

                    <div class="accordion container" id="accordion{{ forloop.counter0 }}">
                    {% for subitem in element.value.subitems %}
                        {% if forloop.counter0 == 0 %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="mobil-heading{{ parentID }}{{ forloop.counter0 }}">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ parentID }}{{ forloop.counter0 }}" aria-expanded="true"
                                    aria-controls="tramites">
                                    <div class="d-flex align-items-center justify-content-center lh-sm">{{ subitem.title }}</div>
                                </button>
                            </h2>
                            <div id="collapse{{ parentID }}{{ forloop.counter0 }}" class="accordion-collapse collapse show"
                                aria-labelledby="mobil-heading{{ parentID }}{{ forloop.counter0 }}" data-bs-parent="#accordion{{ parentID }}">
                                <div class="accordion-body">
                                    <h4>{{ subitem.subtitle }}</h4>
                                    {% for documents in subitem.documents_block %}
                                    <strong>{{ documents.title }}</strong>
                                    <ul>
                                        {% for document in documents.documents %}
                                            <li><a href="{{ document.document.url }}">{{ document.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endfor %}
                                </div>
                                <div class="collapse-btn-green">
                                    <a class="btn-green" href="{{ subitem.page.url }}">Años anteriores</a>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="mobil-heading{{ parentID }}{{ forloop.counter0 }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ parentID }}{{ forloop.counter0 }}" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    <div class="d-flex align-items-center justify-content-center lh-sm">{{ subitem.title }}</div>
                                </button>
                            </h2>
                            <div id="collapse{{ parentID }}{{ forloop.counter0 }}" class="accordion-collapse collapse"
                                aria-labelledby="mobil-heading{{ parentID }}{{ forloop.counter0 }}" data-bs-parent="#accordion{{ parentID }}">
                                <div class="accordion-body">
                                    <h4>{{ subitem.subtitle }}</h4>
                                    {% for documents in subitem.documents_block %}
                                    <strong>{{ documents.title }}</strong>
                                    <ul>
                                        {% for document in documents.documents %}
                                            <li><a href="{{ document.document.url }}">{{ document.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endfor %}
                                </div>
                                <div class="collapse-btn-green">
                                    <a class="btn-green" href="{{ subitem.page.url }}">Años anteriores</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>

                </div>
            </div>
            {% else %}
            <div class="mme-menu-content-item" id="content_item{{ forloop.counter0 }}">
                <div class="row ">
                    <div class="col-sm-12 col-md-12">
                        <strong class="content-item-title lh-sm text-start">{{ element.value.caption }}</strong>
                    </div>

                    <div class="accordion container" id="accordion{{ forloop.counter0 }}">
                        {% for subitem in element.value.subitems %}
                            {% if forloop.counter0 == 0 %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="mobil-heading{{ parentID }}{{ forloop.counter0 }}">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{ parentID }}{{ forloop.counter0 }}" aria-expanded="true"
                                        aria-controls="tramites">
                                        <div class="d-flex align-items-center justify-content-center lh-sm">{{ subitem.title }}</div>
                                    </button>
                                </h2>
                                <div id="collapse{{ parentID }}{{ forloop.counter0 }}" class="accordion-collapse collapse show"
                                    aria-labelledby="mobil-heading{{ parentID }}{{ forloop.counter0 }}" data-bs-parent="#accordion{{ parentID }}">
                                    <div class="accordion-body">
                                        <h4>{{ subitem.subtitle }}</h4>
                                        {% for documents in subitem.documents_block %}
                                        <strong>{{ documents.title }}</strong>
                                        <ul>
                                            {% for document in documents.documents %}
                                                <li><a href="{{ document.document.url }}">{{ document.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                        {% endfor %}
                                    </div>
                                    <div class="collapse-btn-green">
                                        <a class="btn-green" href="{{ subitem.page.url }}">Años anteriores</a>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="mobil-heading{{ parentID }}{{ forloop.counter0 }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{ parentID }}{{ forloop.counter0 }}" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <div class="d-flex align-items-center justify-content-center lh-sm">{{ subitem.title }}</div>
                                    </button>
                                </h2>
                                <div id="collapse{{ parentID }}{{ forloop.counter0 }}" class="accordion-collapse collapse"
                                    aria-labelledby="mobil-heading{{ parentID }}{{ forloop.counter0 }}" data-bs-parent="#accordion{{ parentID }}">
                                    <div class="accordion-body">
                                        <h4>{{ subitem.subtitle }}</h4>
                                        {% for documents in subitem.documents_block %}
                                        <strong>{{ documents.title }}</strong>
                                        <ul>
                                            {% for document in documents.documents %}
                                                <li><a href="{{ document.document.url }}">{{ document.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                        {% endfor %}
                                    </div>
                                    <div class="collapse-btn-green">
                                        <a class="btn-green" href="{{ subitem.page.url }}">Años anteriores</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>
            </div>
            {% endif %}
            {% endwith %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mmeoptionsmenu.js' %}"></script>
<script>
    AOS.init();

    const formSearch = document.querySelector('#formSearch')
    let resultDOM = document.getElementById('result-programs');
    let dataset;

    window.onload = () => {
        formSearch.addEventListener('submit', search )
    }

    /* Get data for search function on Planes y Programas */
    fetch(`/api/v2/pages/?type=ministerio.PlanesProgramasPage&fields=plans_list`)
    .then((res) => res.json())
    .then(function (data) {
        dataset = data.items[0].plans_list;
    })
    .catch((err) => console.error(err));
    /* Get data for search function on Planes y Programas */

    function search(e) {
        e.preventDefault()
        const term = document.querySelector('#inputSearch').value
        let result = [];

        if( term === '' ) {
            resultDOM.innerHTML = `<span class="d-block my-4">"Por favor, ingresa un término para su búsqueda"</span>`;
            return
        }

        dataset.forEach((items, index) => {
            let resultObject = {
                id: items.id,
                type: items.type,
                value: {
                    caption: items.value.caption,
                    subItems: []
                }
            };

            let blocks = [];
            let subItems = [];


            items.value.subitems.forEach((subItem, subItemIndex) => {

            subItem.documents_block.forEach((block, blockIndex) => {
                let document = getDocumentValue(block, term);
                if (document !== false) {
                    blocks.push(document)
                }
            });

            if (blocks.length > 0) {
                subItems.push({
                page: subItem.page,
                subtitle: subItem.subtitle,
                title: subItem.title,
                documents_block: blocks
                });
            }
            blocks = [];
            });

            if (subItems.length > 0) {
                resultObject.value.subItems = subItems;
                result.push(resultObject);
            }

            subItems = [];
        });

        printResult(result, term)
    }

    function getDocumentValue(block, term) {
        let documentsResult = {
            title: block.title,
            documents: []
        };
        block.documents.forEach((document, documentIndex) => {
            if (document.title.toString().toLowerCase().includes(term.toString().toLowerCase())) {
            documentsResult.documents.push(document);
            }
        });
        return documentsResult.documents.length > 0 ? documentsResult : false;
    }

    function printResult(result, term) {
        resultDOM.innerHTML = "";

        if( result.length === 0 ) {
            resultDOM.innerHTML = `<span class="d-block my-4">No se encontro un informe relacionado al término ${term}</span>`;
        }

        for (let i=0; i < result.length; i++) {
            let items = result[i], html;
            const titleCaption = items.value.caption;

            html = '<ul class="result-items">'
            const subItems = items.value.subItems
            subItems.map( (subItem, index) => {
            html += `   <li class="ul-level1"> ${titleCaption} </li>
                        <li class="ul-level2"> <span>&angrt;</span> ${subItem.title} </li>
                        <li class="ul-level3"> <span>&angrt;</span> ${subItem.subtitle} </li>`;
                        subItems[index].documents_block.map( documentBlock => {
                            html += ` <li class="ul-level4"> <span>&angrt;</span> ${documentBlock.title} </li>`
                            documentBlock.documents.map( document => {
                                html += ` <li class="ul-level5">
                                    <span>&angrt;</span> <a href="${document.document}"> ${document.title} </a>
                                </li>`
                            })
                        })
            })
            html += '</ul>'

            resultDOM.innerHTML += html;
        }
    }

</script>
{% endblock extra_js %}
