{% extends "base.html" %}
{% load static wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
<link href="{% static 'css/aos.css' %}" rel="stylesheet" />
<link href="{% static 'css/contratacion-accordion.css' %}" rel="stylesheet" />
{% endblock extra_css %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 animate__animated animate__zoomIn">
      <div class="intro-section">
        <strong class="title-page-special">{{ page.title }}</strong>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4 mb-5">

  {% for element in page.plans_list %}
  <div class="row align-items-center link-section-container mt-5" data-aos="fade-up" data-aos-delay="100">
    <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1 col-xxl-1 ">
      <img src="{{ element.value.icono.url }}" class="rounded mx-auto d-block" style="width:150px">
    </div>
    <div class="col-sm-12 col-md-9 col-lg-9 col-xl-10 col-xxl-10 link-section-border-bottom">
      <div class="fs-5 pt-3 link-section-border-text">
        <h4>{{ element.value.title }}</h4>
        {{ element.value.description }}
      </div>
      <a href="{{ element.value.document.url }}" type="button" class=" fs-4 link-section-border-button">Descargar</a>
    </div>
  </div>
  {% endfor %}
</div>

{% if page.data_list %}
{% for block in page.data_list %}
{% with parentID=forloop.counter0 %}
<div class="container mt-4" data-aos="fade-up" data-aos-delay="100">
  {% if block.value.caption %}
  <div class="title-page">
    {{ block.value.caption }}
  </div>
  {% endif %}
  <div>
    {{ block.value.main_description|safe }}
  </div>
</div>
{% endwith %}
{% endfor %}
{% endif %}

{% endblock content %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mmeoptionsmenu.js' %}"></script>
<script>
  AOS.init();

</script>

{% endblock extra_js %}